/* Présentation */
.presentation-ctn {
    width: 60%;
    margin: 50px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.presentation-img {
    height: 400px;
    border-radius: 25px;
}
.presentation-flex_col {
    display: flex;
    flex-direction: column;
}

/* Responsive */
@media screen and (max-width: 1200px){
    .presentation-ctn {
        width: 80%;
    }
}
@media screen and (max-width: 1000px){
    .presentation-ctn {
        margin: 40px auto;
        gap: 40px;
    }
    .presentation-img {
        height: 300px;
    }
}
@media screen and (max-width: 800px){
    .presentation-ctn {
        margin: 30px auto;
        gap: 25px;
    }
    .presentation-img {
        height: 250px;
        object-fit: cover;
        width: 20vw;
    }
}
@media screen and (max-width: 500px){
    .presentation-ctn {
        width: 90%;
        flex-direction: column;
        margin: 15px auto;
        gap: 20px;
    }
    .presentation-flex_col {
        text-align: center;
    }
    .presentation-img {
        height: 200px;
        width: 150px;
    }
}