.skills-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #0F1013;
    border-radius: 25px;
    width: 80%;
    padding: 15px 0 0 0;
    box-shadow: 6px 6px 0px rgba(0, 0, 0,0.1);
    transition: all 0.3s;
}
.skills-ctn:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 6px 6px 0px rgba(0, 0, 0,0.5);
}
.skills-img {
    height: 80px;
}
.skills-title {

}

@media screen and (max-width: 1000px){
    .skills-ctn {

    }
    .skills-img {
        height: 60px;
    }
}
@media screen and (max-width: 800px){

}
@media screen and (max-width: 500px){

}