.separate {
    width: 50%;
    margin: 0 auto 50px;
    border-bottom: solid #1E8278 3px;
}
/* Présentation */
.home-presentation-title {
    margin-top: 50px;
}

/* Compétences */
.home-skills-grid {
    width: 80%;
    margin: 50px auto;
    padding: 25px 0;
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 25px;
    background-color: #1E8278;
}

/* Responsive */
@media screen and (max-width: 1000px){
    .home-presentation-title {
        margin-top: 40px;
    }
    .home-skills-grid {
        width: 90%;
        margin: 40px auto;
    }
    .separate {
        margin: 0 auto 40px;
    }
}
@media screen and (max-width: 800px){
    .home-presentation-title {
        margin-top: 30px;
    }
    .home-skills-grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin: 30px auto;
    }
    .separate {
        margin: 30px auto ;
    }
}
@media screen and (max-width: 500px){
    .home-skills-grid {
        grid-template-columns: 1fr 1fr;
        margin: 15px auto;
    }
}