main {
    max-width: 1440px;
    margin: auto;
}
section {
    scroll-behavior: smooth;
    padding: 0 50px;
}
section h2 {
    text-align: center;
}

/* Compétences */
.home-skills-grid {
    width: 80%;
    margin: 50px auto;
    padding: 25px;
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 25px;
    background-color: #26A499;
}
/* Projet */
/* Contact */

@media screen and (max-width: 1000px){
    .home-skills-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 800px){
    .home-skills-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 500px){
    .home-skills-grid {
        grid-template-columns: 1fr;
    }
}