.collapse-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    position: relative;
}
.collapse-btn{
    width: 100%;
    height: 300px;
    border-radius: 25px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    overflow: hidden;
}
.collapse-btn:focus,
.collapse-btn:active{
    border: none;
    background: none;
}
.collapse-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border: none;
    border-radius: 25px;
}
.collapse-dropup {
    position:absolute;
    bottom: 0;
    height : 0;	
	width: 100%;
    background-color: #1E8278;
    background: rgba(0,0,0,0.5);
    border: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    transition: height 0.7s;
    color: white;
}
.collapse-btn:hover .collapse-dropup {
    height : 35%;	
    transition: height 0.7s;
    cursor: auto;
}
.collapse-title {
    text-align: center;
}
.collapse-content {
    display: flex;
    position: fixed;
    z-index: 99;
    top: 80px;
    height: 100%;
    width: 100vw;
    right: -100vw;
    overflow: hidden;
    transition: all 0.7s ease;
}
.open {
    right: 0;
    opacity: 1;
    transition: all 0.7s ease; 
}
.collapse-content-bg {
    width: 60vw;
    opacity: 0;
    background-color: black;
}
.open-bg {
    opacity: 0.5;
}

.collapse-content-txt {
    background-color: #1E8278;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    padding: 50px 50px 100px;
    overflow: auto;
}
.fa-xmark {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 36px;
    cursor: pointer;
}
.collapse-banner {
    width: 75%;
}
.collapse-txt {
    width: 100%;
    text-align: start;
}
.collapse-skills-icons {
    height: 50px;
    margin: 25px 15px;
}
.collapse-ctn-icons {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}
.collapse-dropup .collapse-ctn-icons {
    justify-content: center;
}
.collapse-icons {
    height: 30px;
}