.contact_data-ctn {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.contact_data-img {
    height: 50px;
    background-color: #26A499;
    padding: 10px;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    object-fit: scale-down;
    box-shadow: 6px 6px 0px rgba(0, 0, 0,0.1);
    transition: all 0.3s;
}
.contact_data-img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    box-shadow: 6px 6px 0px rgba(0, 0, 0,0.5);
}
.contact_data-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
}
.contact_data-title {
    margin: 0;
}
.contact_data-txt {
    margin: 0;
}