.contact_data-ctn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.contact_data-img {
    background-color: #26A499;
    padding: 10px;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    object-fit: scale-down;
    box-shadow: 6px 6px 0px rgba(0, 0, 0,0.1);
    transition: all 0.3s;
}
.contact_data-img:hover {
    transform: scale(1.05);
    transition: all 0.3s;
    box-shadow: 6px 6px 0px rgba(0, 0, 0,0.5);
}
.contact_data-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
}
.contact_data-title {
    margin: 0;
}
.contact_data-txt {
    margin: 0;
}

/* Responsive */
@media screen and (max-width: 1200px){
    .contact_data-img {
        height: 60px;
        width: 60px;
    }
}
@media screen and (max-width: 1000px){
    .contact_data-img {
        height: 50px;
        width: 50px;
    }
}
@media screen and (max-width: 800px){
    .contact_data-img {
        height: 40px;
        width: 40px;
    }
}
@media screen and (max-width: 500px){
    .contact_data-ctn {
        gap: 5px;
    }
    .contact_data-flex {
        padding: 0 5px;
    }
    .contact_data-img {
        height: 30px;
        width: 30px;
    }
}