header {
    width: 100%;
}
.header-banniere {
    height: 400px;
    background-image: url('../../assets/banniere/téléchargement.png');
    background-position: top 8% left 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.banniere-logo{
    height: 300px;
}

@media screen and (max-width: 800px){
    .header-banniere {
        height: 300px;
    }
    img.banniere-logo{
        height: 250px;
    }
}
@media screen and (max-width: 500px){
    .header-banniere {
        height: 200px;
    }
    img.banniere-logo{
        height: 150px;
    }
}