nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    height: 60px;
    background-color: #0F1013;
    position: sticky;
    top: 0;
    z-index: 100;
}
img.nav-logo {
    height: 60px;
}
.nav-txt a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    position: relative;
    padding-bottom: 5px;
}
.nav-txt-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #26A499;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
.nav-txt-link:hover::after,
.nav-txt-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
.nav-txt-burger {
    display: none;
}

@media screen and (max-width: 800px){
    nav {
        justify-content: space-between;
        padding: 10px 10%;
    }
    .nav-txt{
        display: none;
    }
    .nav-txt-burger{
        display: block;
    }
    .nav-txt-cv {
        display: none;
    }
}
@media screen and (max-width: 500px){
    nav {
        height: 40px;
    }
    img.nav-logo {
        height: 40px;
    }
}