nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    height: 60px;
    background-color: #0F1013;
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: 20px;
}
img.nav-logo {
    height: 60px;
    width: 60px;
}
.nav-txt a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    position: relative;
    padding-bottom: 5px;
}
.nav-txt-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #26A499;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
.nav-txt-link:hover::after,
.nav-txt-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
.nav-txt-burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    display: none;
    padding: 0;
}
.nav-txt-cv {
    background: #26A499;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.5s;
}
.nav-txt-cv:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}
.nav-txt-cv a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.nav-txt-link-cv {
    display: none;
}

/* Responsive */
@media screen and (max-width: 800px){
    nav {
        justify-content: space-between;
        padding: 0;
        padding: 10px 10%;
    }
    .nav-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        right: -20vw;
        height: 100vh;
        padding: 0 2rem;
        width: 0;
        background-color: black;
        transition: all 0.7s;
    }
    .nav-show .nav-txt {
        width: 200px;
        right: 0;
        transition: all 0.7s;
    }
    .nav-txt-link{
        display: block;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .nav-txt-link::after{
        height: 2px;
    }
    .nav-txt-burger{
        display: block;
        cursor: pointer;
    }
    /* Burger */
    .nav-txt-burger-bar,
    .nav-txt-burger-bar::before,
    .nav-txt-burger-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: white;
        transition: all 0.5s ease-in-out;
    }
    .nav-txt-burger-bar::before,
    .nav-txt-burger-bar::after {
        content: "";
        position: absolute;
        left: 0;
    }
    .nav-txt-burger-bar::before {
        transform: translateY(-12px);
    }
    .nav-txt-burger-bar::after {
        transform: translateY(12px);
    }
    .nav-show .nav-txt-burger-bar {
        width: 0;
        background: transparent;
    }
    .nav-show .nav-txt-burger-bar::before {
        transform: rotate(-45deg);
    }
    .nav-show .nav-txt-burger-bar::after {
        transform: rotate(45deg);
    }
    /* Animation Burger */
    .nav-txt-items  {
        transform: translateY(100vh);
    }
    .nav-show .nav-txt-items {
        transform: translateY(0);
    }
    .nav-show .slideInDown-1 {
        transition: all 0.6s ease-out;
    }
    .nav-show .slideInDown-2 {
        transition: all 0.8s ease-out;
    }
    .nav-show .slideInDown-3 {
        transition: all 1s ease-out;
    }
    .nav-show .slideInDown-4 {
        transition: all 1.2s ease-out;
    }
    .nav-show .slideInDown-5 {
        transition: all 1.4s ease-out;
    }
    .nav-show .slideInDown-6 {
        transition: all 1.6s ease-out;
    }
    /* CV */
    .nav-txt-link-cv {
        display: block;
    }
    .nav-txt-link-cv a {
        font-size: 20px;
    }
    .nav-txt-cv {
        display: none;
    }
}
@media screen and (max-width: 500px){
    img.nav-logo {
        height: 40px;
        width: 40px;
    }
    .nav-txt {
        padding: 0 1rem;
    }
    .nav-show .nav-txt {
        width: 150px;
    }
    .nav-txt-link{
        font-size: 16px;
    }
    .nav-txt-link-cv a {
        font-size: 16px;
    }
}