footer {
    border-top: solid #26A499 2px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
@media screen and (max-width: 500px){
    footer {
        justify-content: center;
    }
}
/* Coordonnées */
.footer-coordonnees {
    display: flex;
    flex-direction: column;
}
.footer-coordonnees-logo {
    height: 60px;
    width: 60px;
    padding: 10px 0;
}
.footer-coordonnees h4 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}
.footer-coordonnees h5 {
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}
.footer-coordonnees p {
    font-size: 14px;
    margin: 0;
}
.footer-coordonnees-adresse {
    margin: 10px 0;
}
.footer-coordonnees-tel {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 500px){
    .footer-coordonnees {
        text-align: center;
    }
    .footer-coordonnees-logo {
        margin: auto;
    }
    .footer-coordonnees-tel {
        margin: 0;
    }
}
/* Navigation */
.footer-navigation {
    padding-top: 60px;
    width: 120px;
}
.footer-navigation h4 {
    font-size: 20px;
    margin: 20px 0 10px;
    text-align: center;
}
.footer-navigation-links {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-navigation-links a {
    color: white;
    text-decoration: none;
    padding: 3px 0;
    font-size: 14px;
}
.footer-navigation-links a:hover {
    background-color: #26A499;
    transition: all 0.5s;
}
@media screen and (max-width: 500px){
    .footer-navigation {
        display: none;
    }
}
/* Réseaux */
.footer-reseaux {
    padding-top: 60px;
}
.footer-reseaux h4 {
    font-size: 20px;
    margin: 20px 0 10px;
    text-align: center;
}
.footer-reseaux-links {
    display: flex;
    flex-direction: column;
    text-align: end;
}
.footer-reseaux-links a {
    color: white;
    text-decoration: none;
    padding: 3px 0;
    font-size: 14px;
}
.footer-reseaux-links a:hover {
    background-color: #26A499;
    transition: all 0.5s;
}
@media screen and (max-width: 500px){
    .footer-reseaux {
        display: none;
    }
}