/* Import des polices de caractère */ 
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Roboto:wght@300;400;700&family=Tenor+Sans&display=swap');

html {
  max-width: 1920px;
  scroll-behavior: smooth;
  margin: auto;
}
body {
  max-width: 1920px;
  background-color: #0F1013;
  color: white;
  position: relative;
  overflow-x: hidden;
  margin: auto;
}
main {
  max-width: 1920px;
}
section {
  scroll-behavior: smooth;
}
section h2 {
  text-align: center;
}
h1, h2 {
  font-family: 'Noto Serif', serif;
  margin: 0;
  font-size: 36px;
  color: #1E8278;
}
h3, h4, a, p, label {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
h3 {
  font-size: 26px;
  margin-bottom: 25px;
}
h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
ul {
  list-style: none;
  display: flex;
  margin: 0;
}
li {
  margin: 25px 0;
}

/* Responsive */
@media screen and (max-width: 1000px){
  h1, h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  a, p, label {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px){
  h1, h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  h4 {
    font-size: 16px;
  }
  a, p, label {
    font-size: 13px;
  }
}
@media screen and (max-width: 500px){
  h1, h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 14px;
  }
  a, p, label {
    font-size: 12px;
  }
  li {
    margin: 15px 0;
  }
}